.b1f {
    background-color: #368B91;
}

.b2f {
    background-color: #368B91;
}

.b3f {
    background-color: #368B91;
}

.b4f {
    background-color: #921A82;
}

.b5f {
    background-color: #921A82;
}

.b6f {
    background-color: #921A82;
}

.b7f {
    background-color: #4B2FC6
}

.b8f {
    background-color: #4B2FC6
}

.b9f {
    background-color: #4B2FC6
}

.b0f {
    background-color: #8BD69E
}

.bresf {
    background-color: #FFB6C1
}

.bemf {
    background-color: #006763
}

.br {
    border-color: transparent
}
