.detailsContainer {
    margin-top: 10px;
    background-color: white;
    color: #3d3d5c;
    width: 100%;
}


.detailsContainer .fieldsContainer {
    display: block;
    flex: 0 0 48%;
    padding: 10px;
}

.detailsContainer .fieldsContainer .field {
    padding-bottom: 10px;
    padding-left: 40px;
}

.detailsContainer .name {
    padding-left: 40px;
    padding-top: 20px;
    padding-bottom: 20px;
}

.iconOn {
    color: #976dd0;
    padding-top: 5px;
    padding-right: 5px;
}
