.searchContainer {
    margin-top: 10px;
    background-color: #666699;
    color: white;
    width: 100%;
    display: block;
    flex-wrap: wrap;
}

.searchContainer .label {
    padding-left: 15px;
    padding-bottom: 10px;
    padding-top: 10px;
}

.mySelect {
    color: #666699;
    width: 330px;
    padding-bottom: 20px;
    padding-left: 15px;
    background-color: #666699;
}

.buttonsContainer {
    padding: 40px 80px 10px;
    display: grid;
}

.myButton {
    width: 190px;
    color: white;
    background-color: #666699;
    border: none;
    margin-bottom: 20px;
    height: 40px;
    font-style: bold;
}

.reportsContainer {
    margin-top: 10px;
    background-color: white;
    color: #3d3d5c;
    width: 100%;
}