.buttonsContainer {
  padding: 190px 80px 10px;
  display: grid;
}

.buttonsContainer .myButton {
  width: 190px;
  color: white;
  background-color: #666699;
  border: none;
  margin-bottom: 20px;
  height: 40px;
  font-style: bold;
}
