.child-left {
    height: 100vh;;
    width:40%;
    background-color :#E0E0EB;
    display: inline-block;
    vertical-align: middle;
}

.child-right {
    height: 100vh;
    width:60%;
    background-color : #A3A3C2;
    display: inline-block;
    vertical-align: middle;
}

.label {
    margin-left: 5vw;
} 

.input {
    margin-top: 10px !important;
    width: 30vw;
    display: flex;
    margin: auto;
    margin-bottom: 50px;
    padding: 10px;
    height: 20px;
    border-radius: 20px;
    border: 1px;
    background-color: white;
}

.button-login {
    width: 31vw;
    display: flex;
    margin: auto;
    border-radius: 20px;
    border: 0px;
    padding: 10px;
    background-color: #47476B;
    color: white;
    font-weight: bold;
    display: flex;
    justify-content: center;
}

.img {
    height: 35vw;
    width: 35vw;
    margin-left: 12.5vw;
}

.logo {
    font-size :60px;
    margin: auto;
    display: flex;
    justify-content: center;
    font-family :Georgia, 'Times New Roman', Times, serif;
    color: white;
}
