.child-left-add-user {
    height: 100vh;
    width: 50%;
    background-color :#E0E0EB;
    display: inline-block;
    vertical-align: middle;
}

.child-right-add-user {
    height: 100vh;
    width: 50%;
    background-color : #E0E0EB;
    display: inline-block;
    vertical-align: middle;
}

.title-add-user {
color: black;
justify-content: center;
display: flex;
}